{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script type='text/javascript'>
		var active_page = "catalog"
		  , board_name = "{{ board_name }}";
	</script>
	{% include 'header.html' %}
	<title>{{ board_name }} - Catalog</title>
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %} theme-catalog active-catalog" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
	{{ boardlist.top }}
	<header>
		<h1>/<a class="no-decoration" href="./index.html">{{ board.uri }}</a>/ - {{ board.title|e }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>

	{% include 'post_form.html' %}

	{% if config.announcements.show %}<table class="announcements" id="announcements"></table>{% endif %}

        <span>{% trans 'Sort by' %}: </span>
        <select id="sort_by" style="display: inline-block">
                <option selected value="bump:desc">{% trans 'Bump order' %}</option>
                <option value="time:desc">{% trans 'Creation date' %}</option>
                <option value="reply:desc">{% trans 'Reply count' %}</option>
                <option value="random:desc">{% trans 'Random' %}</option>
        </select>
 
        <span>{% trans 'Image size' %}: </span>
        <select id="image_size" style="display: inline-block">
                <option value="vsmall">{% trans 'Very small' %}</option>
                <option selected value="small">{% trans 'Small' %}</option>
                <option value="large">{% trans 'Large' %}</option>
        </select>

	&nbsp; <a id="unimportant" href="./{{ config.catalog_link }}">[{% trans %}Reload{% endtrans %}]</a>

	{% if config.archive.threads %} &nbsp; <a id="unimportant" href="{{ config.root }}{{ board.dir }}{{ config.dir.archive }}">[{% trans %}Archive{% endtrans %}]</a>{% endif %}
	{% if config.feature.threads and config.feature.link_post_page %} &nbsp; <a id="unimportant" href="{{ config.root }}{{ board.dir }}{{ config.dir.featured }}">[{% trans %}Featured{% endtrans %}]</a>{% endif %}

        <div class="threads">
                <div id="Grid">
                {% for post in recent_posts %}
                        <div class="mix"
				data-reply="{{ post.reply_count }}"
				 data-bump="{{ post.bump }}"
				 data-time="{{ post.time }}"
				 data-id="{{ post.id }}"
				 data-sticky="{% if post.sticky %}true{% else %}false{% endif %}"
				 data-locked="{% if post.locked %}true{% else %}false{% endif %}"
			>
                                <div class="thread grid-li grid-size-small">  
                                        <a href="{{post.link}}">  
						{% if post.youtube %}
							<img src="//img.youtube.com/vi/{{ post.youtube }}/0.jpg" 
						{% else %}
							<img src="{{post.file}}" 
						{% endif %}
                                                 id="img-{{ post.id }}" data-subject="{% if post.subject %}{{ post.subject|e }}{% endif %}" data-name="{{ post.name|e }}" data-muhdifference="{{ post.muhdifference }}" class="{{post.board}} thread-image" title="{{post.bump|date('%b %d %H:%M')}}">
                                        </a>
                                                <div class="replies">
							<style>strong > i, strong > img { margin-left: 4px;}</style>
                                                        <strong>R: {{ post.reply_count }} / I: {{ post.image_count }}
								{% if post.sticky %}
									{% if config.font_awesome %}
										<i class="fa fa-thumb-tack" title="Sticky"></i>
									{% else %}
										<img class="icon" title="Sticky" src="{{ config.image_sticky }}" alt="Sticky" />
									{% endif %}
								{% endif %}
								{% if post.locked %}
									{% if config.font_awesome %}
										<i class="fa fa-lock" title="Locked"></i>
									{% else %}
										<img class="icon" title="Locked" src="{{ config.image_locked }}" alt="Locked" />
									{% endif %}
								{% endif %}
								{% if post.bumplocked and (config.mod.view_bumplock < 0 or (post.mod and post.mod|hasPermission(config.mod.view_bumplock, board.uri))) %}
									{% if config.font_awesome %}
										<i class="fa fa-anchor" title="Bumplocked"></i>
									{% else %}
										<img class="icon" title="Bumplocked" src="{{ config.image_bumplocked }}" alt="Bumplocked" />
									{% endif %}
								{% endif %}
								{% if post.cycle %}
									{% if config.font_awesome %}
										<i class="fa fa-refresh" title="Cyclical"></i>
									{% else %}
										<img class="icon" title="Cyclical" src="{{ config.image_sticky }}" alt="Cyclical" />
									{% endif %}
								{% endif %}
							</strong>
                                                        {% if post.subject %}
								<p class="intro">
									<span class="subject">
										{{ post.subject|e }}
									</span>
								</p>
							{% else %}
								<br />
							{% endif %}

								{{ post.body }}
                                                </div>
                                </div>
                        </div>
                {% endfor %}
                </div>
        </div>
	
	<hr/>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard + 
			<a href="https://engine.vichan.net/">vichan</a> + 
            <a href="https://github.com/fallenPineapple/NPFchan">NPFchan</a> {{ config.version }} -
<br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group    
		<br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2018 vichan-devel
		<br><a href="https://github.com/fallenPineapple/NPFchan">NPFchan</a> Copyright &copy; 2017-2018 NPFchan</p>
	</footer>
	<script type="text/javascript">{% raw %}
		var styles = {
			{% endraw %}
			{% for name, uri in config.stylesheets %}{% raw %}'{% endraw %}{{ name|addslashes }}{% raw %}' : '{% endraw %}/stylesheets/{{ uri|addslashes }}{% raw %}',
			{% endraw %}{% endfor %}{% raw %}
		}; onready(init);
	{% endraw %}</script>

	<script type="text/javascript">{% raw %}
		buildAnnouncementList(hideAnnouncements);	// Bugfix for bug I can't be bothered to hunt down right now
		ready();
	{% endraw %}</script>
</body>
</html>
{% endfilter %}
