{% if post.file|extension == 'webm' or post.file|extension == 'mp4' or post.file|extension == 'ogg' %}
<video source src="{{ config.uri_img }}{{ post.file }}"
	{% if post.filename|extension == 'webm' or post.file|extension == 'mp4' or post.file|extension == 'ogg' %}
		 class="file controls" style="max-width:300px;" preload="metadata" controls 
	{% endif %}
>
{% elseif post.file|extension == 'mp3' %}

<audio source src="{{ config.uri_img }}{{ post.file }}"
	{% if post.filename|extension == 'mp3' or post.filename|extension == 'wav' %}
		 class="file controls" style="max-width:300px;" preload="metadata" controls
	{% endif %}
>

{% else%}

<a href="{{ config.uri_img }}{{ post.file }}"
	{% if post.thumb == 'file' or post.modifiers['is_file'] == '1' %}
	class="file controls"
	{% endif %}
>
{% endif %}
	
		<img class="post-image" 
			src="
				{% if post.thumb == 'file' %}
					{{ config.root }}
					{% if config.file_icons[post.filename|extension] %}
						{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
					{% else %}
						{{ config.file_thumb|sprintf(config.file_icons.default) }}
					{% endif %}
				{% elseif post.thumb == 'spoiler' %}
					{{ config.root }}{{ config.spoiler_image }}
				{% else %}
					{{ config.uri_thumb }}{{ post.thumb }}
				{% endif %}
			"
			 style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="" 
		/>
</a>
