{% if post and board %}
	{% set action = '?/' ~ board ~ '/nicenotice/' ~ post %}
{% else %}
	{% set action = '?/nicenotice' %}
{% endif %}

<script type="text/javascript">
$(window).load(function(){
	{% for key, reason in reasons %}
		$('#ResonSelectorID_{{ key }}').click(function() { populateFormJQuery('#NicenoticeFormID', $.parseJSON(data_{{ key }})); });
		var data_{{ key }} = '{"reason":"{{ reason|escape('js') }}"}';
	{% endfor %}
});
</script>


<form action="{{ action }}" method="post" id="NicenoticeFormID">
	<input type="hidden" name="token" value="{{ token }}">
	{% if redirect %}
		<input type="hidden" name="redirect" value="{{ redirect|e }}">
	{% endif %}
	
	<table>
		
		<tr>
			<th>
				<label for="ip">{% trans 'IP' %}</label>
			</th>
			<td>
				{% if not hide_ip %}
					<input type="text" name="ip" id="ip" size="30" maxlength="40" value="{{ ip|e }}">
				{% else %}
					<em>{% trans 'hidden' %}</em>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>
				<label for="reason">{% trans 'Reason' %}</label>
			</th>
			<td>
				<textarea name="reason" id="reason" rows="5" cols="30">{{ reason|e }}</textarea>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input name="new_nicenotice" type="submit" value="{% trans 'New Nicenotice' %}"></td>
		</tr>
	</table>
</form>


<h3>Predefined Nicenotice Texts:</h3>

<table class="ReasonTableForm">
	<tr>
		<td></td>
		<td>Reason</td>
	</tr>
	{% for key, reason in reasons %}
		<tr id="ResonSelectorID_{{ key }}">
			<td></td>
			<td>{{ reason|e }}</td>
		</tr>
	{% endfor %}
</table>
